<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/cv.css">
			<meta name="viewport" content="width=device-width, initial-scale=1">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<!--<li><a href="/blog/">Blog</a></li> --> <!-- no blogs >:( -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:josephsjliu@gmail.com">email</a></li>
	        		<li><a href="https://github.com/josephsjliu">github.com/josephsjliu</a></li>
					<li><a href="https://linkedin.com/in/josephsjliu">Linkedin</a></li>
				</ul>
			</footer>
		</body>
	</html>
s